* {
  box-sizing: border-box;
}
:root {
  --side-margin: 10px;
  --card-margin: 15px;
  --padding-titles: 0 6px 0 6px;
}

body {
  margin: 0;
  background: #39cccc32;
}

* {
  box-sizing: border-box;
}
input {
  width: 100%;
  border: none;
  padding: 5px 0 5px 3px;
}
textarea {
  outline: none;
  width: 100%;
  border: none;
  resize: none;
  padding: 5px 0 5px 3px;
}
li {
  list-style: none;
}
ul {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}
